
.movie-container{
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: repeat(3, 200px);
  margin: 50px auto;
  

}
@media only screen and (max-width: 600px) {
  .movie-container{
    grid-template-columns: 1fr;
    width: 100%;
    margin:0 auto;
  }
}

